sectio.nav
  h1 БИЗНЕС-ТРЕНИНГ
  h3.span.loader
    span.m С
    span.m Т
    span.m А
    span.m Н
    span.m Ь
    span.m &nbsp;
    span.m У
    span.m С
    span.m П
    span.m Е
    span.m Ш
    span.m Н
    span.m Ы
    span.m М
    span.m &nbsp;
    span.m З
    span.m А
    span.m &nbsp;
    span.m 1
    span.m 4
    span.m &nbsp;
    span.m Д
    span.m Н
    span.m Е
    span.m Й
  .nav-container
    a.nav-tab(href="#tab-about") О тренинге
    a.nav-tab(href="#tab-programm") Программа
    a.nav-tab(href="#tab-spickers") Спикеры
    a.nav-tab(href="#tab-tarife") Тарифы
    a.nav-tab(href="#tab-contacts") Контакты
    span.nav-tab-slider
main.main
  section#tab-about.slider
    h1 О тренинге
    h2 краткое описание
  section#tab-esbuild.slider
    h1 ESBUILD
    h2 an extremely fast JavaScript bundler
  section#tab-next.slider
    h1 NEXT.JS
    h2 framework for Production
  section#tab-typescript.slider
    h1 TYPESCRIPT
    h2 giving you better tooling at any scale
  section#tab-vite.slider
    h1 VITE
    h2 a frontend build tool
canvas.background

<!-- SGVsbG8hIE15IG5hbWUgaXMgU2FyYSBNYXphbC4gV2VsY29tZSB0byBteSBDb2RlUGVuIQ== -->
